body { 
    margin :0;
    padding:0;
    background: lightgrey;
    font-family:'Roboto Mono',monospace;
}

.App{
    margin-bottom:200px;
}

.container{
    margin:0 auto;
    width:85vw;
    display:grid;
    place-items:center;
    margin-bottom:20px;
}

.container h2{
    line-height:50px;
    font-family:'Henny Penny', cursive;
    color:rgb(9, 44, 161);
    letter-spacing:2px;
    font-size:38px;
}

